/* ------------- FONTS ------------- */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16&display=swap');
@font-face {
    font-family: "KristallH MfD Pro";
    src: url("../fonts/KristallHMfDPro-CondensedMedium.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

/* ------------- VAR ------------- */

:root {
  --font-size: 0.95rem;
  --font-size-vw: 2.2vw;
  --pad-radius: 5px;
  --main-color: #c5561c;
  --second-color: #9CC6DB;
  --margin-main: 5vh;
}

/* ------------- transition ------------- */

.fade {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade.fade-in {
  opacity: 1;
}

.fade.fade-out {
  opacity: 0;
}

/* ------------- body ------------- */

* { background-color: unset !important; }
* { transition: all 0.5s ease; }

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #FFFAEB !important;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: italic;
    color: #3A3A3A;
}

.container {
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #F4B342;
    position: relative;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #360185;
    width: 100%;
    align-self: flex-start;
    margin-top: var(--margin-main);

}

.info-wrapper * {
    background-color: #DE1A58;
    font-weight: 400;
    white-space: nowrap;
}
.info-wrapper h1 {
    margin-top: calc(var(--font-size)*2);
    margin-bottom: 0;

    font-family: "Ballet", cursive;
    font-size: calc(var(--font-size)*7.5);
    font-optical-sizing: none;
    font-variation-settings: "opsz" 16;
    color: var(--main-color);
    line-height: 0.85;
}
.info-wrapper h2 {
    margin: 1rem 0;

    font-family: "KristallH MfD Pro", serif;
    font-style: normal;
    font-size: calc(var(--font-size)*2.5);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.info-wrapper .info {
    font-size: calc(var(--font-size)*1);
    line-height: 0.5rem;
    color: #333;
}

.content-wrapper {
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #5A9CB5;
}

.image {
    overflow: hidden;
    width: 50%;
    height: 80%;
    border-radius: var(--pad-radius);
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--second-color);
    outline-offset: 5px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content {
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    gap: 5%;
    background-color: #DE1A58;
    position: relative;
    bottom: 0;
    margin-bottom: var(--margin-main);
}

.nav-wrapper a {
    position: relative;
    text-decoration: none;
    border-radius: var(--pad-radius);
    font-size: calc(var(--font-size)*1);
    color: #333;
    font-weight: 400;
    background-color: #8F0177;
    padding: 0.8rem;
    background-color: unset;
}

.underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    background: var(--main-color) !important;
    transition: all .25s ease;
    border-radius: var(--pad-radius);
    transform: translateX(-50%);
}

/* --------------------
   RESPONSIVE
-------------------- */

@media (max-width: 1000px) {
    :root {
      --font-size: 0.8rem;
    }

    .container {
        width: 100%;
    }

    .image {
        width: 75%;
    }

    .bottom-nav {
        gap: 1.5rem;
    }
}

@media (max-width: 550px) {
    .info-wrapper h1 {
      font-size: calc(var(--font-size-vw)*7.5);
    }

    .info-wrapper h2 {
      font-size: calc(var(--font-size-vw)*2.5);
    }
}
