/* ------------- FONTS ------------- */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16&display=swap');
@font-face {
    font-family: "KristallH MfD Pro";
    src: url("../fonts/KristallHMfDPro-CondensedMedium.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

/* ------------- VAR ------------- */

:root {
  --font-size: 0.95rem;
  --font-size-vw: 2.2vw;
  --pad-radius: 5px;
  --main-color: #c5561c;
  --second-color: #9CC6DB;
}

/* ------------- body ------------- */

* { background-color: unset !important; }

* { transition: all 0.2s ease; }

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFFAEB !important;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: italic;
    color: #3A3A3A;
}

.container {
    width: 700px;
    min-height: 90vh;
    margin: 0 auto; /* centre le container horizontalement */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #F4B342;
    position: relative;
}

.info-wrapper,
.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-wrapper {
    background-color: #360185;
    width: 100%;
    align-self: flex-start;
}

/* --- Titre principal --- */
.title {
    font-family: "Ballet", cursive;
    font-size: calc(var(--font-size)*7.5);
    font-weight: 400;
    font-optical-sizing: none;     /* Désactive l'ajustement automatique */
    font-variation-settings: "opsz" 16; /* Taille optique manuelle */
    margin-top: calc(var(--font-size)*2);
    margin-bottom: 0;
    color: var(--main-color);
    line-height: 0.85;
    background-color: #DE1A58;
    white-space: nowrap;
}

/* --- Sous-titre --- */
.subtitle {
    font-family: "KristallH MfD Pro", serif;
    font-style: normal;
    text-transform: uppercase;
    margin: 1rem 0;
    font-size: calc(var(--font-size)*2.5);
    font-weight: 400;
    letter-spacing: 0.1rem;
    background-color: #DE1A58;
}

/* --- Infos personnelles --- */
.info {
    font-size: calc(var(--font-size)*1);
    line-height: 0.5rem;
    color: #333;
    background-color: #DE1A58;
}

/* --- Image centrale --- */

.image-wrapper {
    margin: 35px 0;
}

.image-wrapper img {
    border-radius: var(--pad-radius);
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--second-color);
    outline-offset: 5px;
}

/* --- Menu inférieur --- */
.nav-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    gap: 5%;
    background-color: #DE1A58;
    position: relative;
    bottom: 0;
}

.nav-wrapper a {
    position: relative;
    text-decoration: none;
    border-radius: var(--pad-radius);
    font-size: calc(var(--font-size)*1);
    color: #333;
    font-weight: 400;
    background-color: #8F0177;
    padding: 0.8rem;
    background-color: unset;
}

.underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    background: var(--main-color) !important;
    transition: all .25s ease;
    border-radius: var(--pad-radius);
    transform: translateX(-50%);
}

/* --------------------
   RESPONSIVE
-------------------- */

@media (max-width: 700px) {
    :root {
      --font-size: 0.8rem;
    }

    .container {
        width: 100%;
    }

    .landing-image {
        width: 18rem;
    }

    .bottom-nav {
        gap: 1.5rem;
    }
}

@media (max-width: 550px) {
    .title {
      font-size: calc(var(--font-size-vw)*7.5);
    }

    .subtitle {
      font-size: calc(var(--font-size-vw)*2.5);
    }
}
