/* Global styles for the popup */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 500px;
    background-color: #414141;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: #f7f7f7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px; /* Ajoute un peu de padding autour du contenu */
}

.popup h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

.popup p {
    font-size: 16px;
    margin-bottom: 10px;
}

.popup img {
    margin-top: 10px;
    max-width: 100%;
    border-radius: 8px;
}
