/* Global styles for the popup */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #414141;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .popup {
            width: 80%; /* Utilise 80% de la largeur de l'écran */
            height: 80%; /* Utilise 80% de la hauteur de l'écran */
            background-color: #f7f7f7;
            border: 1px solid #ddd;
            padding: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow-y: auto; /* Permet le défilement vertical si nécessaire */
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        .popup h1 {
            font-size: 22px;
            margin-bottom: 10px;
        }

        .popup p {
            font-size: 16px;
            margin-bottom: 10px;
        }

        .popup img {
            margin-top: 10px;
            max-width: 100%;
            border-radius: 8px;
        }
