/* ------------- FONTS ------------- */

@font-face {
    font-family: "SanFrancisco";
    src: url("fonts/SFProDisplay-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SanFrancisco";
    src: url("fonts/SFProDisplay-RegularItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "SanFrancisco";
    src: url("fonts/SFProDisplay-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "SanFrancisco";
    src: url("fonts/SFProDisplay-Mediumitalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "SanFrancisco";
    src: url("fonts/SFProDisplay-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "SanFrancisco";
    src: url("fonts/SFProDisplay-Bolditalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}

/* ------------- BODY ------------- */

* {
  padding: 2px;
  margin: 0;
}

html, body {
    width: 100%;
    height: auto;
    max-height: 470px;
    margin: 0 auto;
    background-color: #ffffff;
    font-family: SanFrancisco, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
    font-weight: 500;
}
